<h1>I mean yeah this is the thing</h1>

<p>If I had a house I'd put a picture of it here because this is the HOMEpage</p>

<p><strong>My favorite artists</strong></p>
<ul>
  <li>TR/ST</li>
  <li>Grimes</li>
</ul>

<%= link_to 'About', about_path %>
